<h1>User Details</h1>

<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <th>Email</th>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <th>User Type:</th>
    <td><%= @user.user_type %></td>
  </tr>
</table>







